        <el-table empty-text=" " style="width: 100%"
                  @@sort-change="sort_change"
                  :data="grid.data"
                  :default-sort="{prop: 'CREATE_DATE', order: 'ascending'}">
                <el-table-column :label="i18n.操作" min-width="20">
                    <template slot-scope="scope">
                        <el-button size="small" circle class="s-VIEW"
								   autofocus="true"
                                   type="danger"
                                   icon="el-icon-delete"
                                   :disabled="scope.row.QUOTE_ONCE=='T'"
                                   @@click="e_del(scope.row.ENCODE_FORMAT_SID)"
								   ></el-button>
                    </template>
                </el-table-column>
                <el-table-column min-width="115" prop="ENCODE_FORMAT_NO" sortable="custom"
                                 :sort-orders="$UT.sort_order"
                                 label="@RES.BLL.Face.lblSetSequenceNo">
                    <template slot-scope="scope">
                        <!--需要調整-->
                        <el-button type="text" @@click="act_Item(scope.row.ENCODE_FORMAT_SID)">{{scope.row.ENCODE_FORMAT_NO}}</el-button>
                    </template>
                </el-table-column>
                {% for key, val in filed %}<el-table-column :label="i18n.{{key}}"
                                 prop="{{key}}" sortable="custom"
                                 :sort-orders="$UT.sort_order">
                </el-table-column>{% endfor %}
            </el-table>
        <el-pagination background
                        @@size-change="e_SizeChange"
                        @@current-change="e_CurrentChange"
                        :current-page="grid.Page.Index"
                        :page-sizes="[5,10,15]"
                        :page-size="grid.Page.Size"
                        layout="prev, pager, next"
                        :total="grid.row_count"></el-pagination>

i18n:{ {% for key, val in filed %}
    {{key}}:'{{key}}',{% endfor %}
}


                //#region [Grid 相關程序]
				//排序事件
				sort_change(column) {
					this.grid.Sort = {
						Name: column.prop,
						isAsc: column.order == "ascending"
					}
					if (this.grid.data.length == 0) return;
					this.query(1);
				},
				e_SizeChange: function (size) {
					this.pagesize = size;
					this.query(1);
				},
				// 換頁事件
				e_CurrentChange: function (currentPage) {
					this.query(currentPage);
				},
				// 子視窗查詢程序
				act_WO(WO) {
					//debugger
					var arg = {
						title: '@RES.BLL.Face.WorderInfo',
						content: `@Url.Action("single")?name=UI_SPEC_041_Form`
					}
					this.$UT.layer(arg, this);
				},
				//父視窗reload 功能
				reload() {
					console.log("父視窗reload!!");
					this.query(this.grid.Page.Index);
				},
				//查詢事件
				click_Query() {
					this.grid.Conditions = this.$refs.wo_cd.get_Conditions();
					/*
					//此段程序就是 wo_cd.get_Conditions 內做的事,沒有既有控制件可用的話,就請用以下的 code 改寫
					var Conditions = {
						condition: "AND",
						rules: [
						]
					};
					//equal
					//{ field: 'STATUS', type: "string", operator: "in", value: ["Release", "Create"] }
					_.each(this.form, (value, field) => {
						if (value != "") {
							var _rule = { field, type: "string", operator: "in", value };
							if (_.isString(value)) {
								_rule.operator = "equal";
								_rule.value = [value];
							}
							Conditions.rules.push(_rule);
						}
					});
					this.grid.Conditions = Conditions;
					 */
					this.query(1);
				},
				// 查詢處理程序
				query(pageIdx) {
					var _self = this;
					_self.grid.Page.Index = pageIdx;
					var param = _self.grid.query_rule;

					var _ajax = {
						url: '@Url.Action("WO_Query")',
						type: 'post',
						param,
						success: this.query_success
					};
					$.submitForm(_ajax);
				},
				// 查詢成功處理程序
				query_success(res) {
					debugger
					let { Data, Code = null, Message, Success = false } = res;
					if (Success) {
						let { PageInfo, Queryable } = Data || {};
						this.grid.data = Queryable;
						this.grid.row_count = PageInfo.RowCount;
					} else {
						var msg = Message != null
							? Message
							: '@BLL.InterFace.ErrCode.GenericErrorMessage'
							;
						this.$Alert.Err(msg);
					}
				}
				//#endregion 