<div Area-Form class="panel-body form-horizontal gt-form">
	<div class="row ">
		<gt-form-col :label="i18n.ROUTE_NO"
					 v-model="form.ROUTE_NO"></gt-form-col>
		<gt-form-col :label="i18n.ROUTE"
					 v-model="form.ROUTE"></gt-form-col>
		<gt-form-col :label="i18n.DESCRIPTION">
			<el-input type="textarea" v-model="form.VERSION_DESCRIPTION" rows="3">
			</el-input>
		</gt-form-col>
	</div>
 </div>