<gt-searchcd class="gt-form form-horizontal">
    {% for key, val in filed %}<gt-form-col :label="i18n.{{key}}"
                        prop="{{key}}" sortable="custom"
                        :sort-orders="$UT.sort_order">
    </el-table-column>{% endfor %}
</gt-searchcd>